<a href="https://colab.research.google.com/github/MATHKIMS/DSAC_license/blob/main/230422_%EB%82%A0%EC%A7%9C%EB%8D%B0%EC%9D%B4%ED%84%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 날짜 데이터

In [2]:
from datetime import datetime

now = datetime.now()
print (now)

2023-04-22 05:41:24.980237

In [3]:
type(now)

datetime.datetime

In [4]:
now = datetime.now()
print (now.year) #연도
print (now.month) #월
print (now.day) # 일

2023
4
22

In [7]:
print (str(now.year)+ "/"+str(now.month) + "/" + str(now.day)  )

2023/4/22

# 주식거래소 개장일

http://www.krx.co.kr/main/main.jsp

# 한국거래소 홈페이지 휴장일 조회
한국거래소 홈페이지 http://marketdata.krx.co.kr 에서 아래 메뉴에서 휴장일을 조회할 수 있다

#### 시장정보 > 시장동향 > 공시 > 증시일정 > 휴장일

링크는 아래와 같다

http://marketdata.krx.co.kr/contents/MKD/01/0110/01100305/MKD01100305.jsp

<img width="80%" src="http://i.imgur.com/xUGXh8f.png" >

In [8]:
import pandas as pd

df_hdays = pd.read_excel('https://goo.gl/JGse1n')
df_hdays

       일자 및 요일    요일구분          비고
0   2019-01-01  화요일             신정
1   2019-02-04  월요일             설날
2   2019-02-05  화요일             설날
3   2019-02-06  수요일             설날
4   2019-03-01  금요일            삼일절
5   2019-05-01  수요일          근로자의날
6   2019-05-06  월요일     어린이날(대체휴일)
7   2019-06-06  목요일            현충일
8   2019-08-15  목요일            광복절
9   2019-09-12  목요일             추석
10  2019-09-13  금요일             추석
11  2019-10-03  목요일            개천절
12  2019-10-09  수요일            한글날
13  2019-12-25  수요일            성탄절
14  2019-12-31  화요일          연말휴장일

In [9]:
hdays = df_hdays['일자 및 요일'].str.extract('(\d{4}-\d{2}-\d{2})', expand=False)
hdays = pd.to_datetime(hdays)
hdays.name = '날짜'
hdays

0    2019-01-01
1    2019-02-04
2    2019-02-05
3    2019-02-06
4    2019-03-01
5    2019-05-01
6    2019-05-06
7    2019-06-06
8    2019-08-15
9    2019-09-12
10   2019-09-13
11   2019-10-03
12   2019-10-09
13   2019-12-25
14   2019-12-31
Name: 날짜, dtype: datetime64[ns]

In [10]:
hdays.name

'날짜'

In [11]:
mdays = pd.date_range('2019-01-01', '2019-12-31', freq='B') #비지니스 날만 날짜 생성
mdays

DatetimeIndex(['2019-01-01', '2019-01-02', '2019-01-03', '2019-01-04',
               '2019-01-07', '2019-01-08', '2019-01-09', '2019-01-10',
               '2019-01-11', '2019-01-14',
               ...
               '2019-12-18', '2019-12-19', '2019-12-20', '2019-12-23',
               '2019-12-24', '2019-12-25', '2019-12-26', '2019-12-27',
               '2019-12-30', '2019-12-31'],
              dtype='datetime64[ns]', length=261, freq='B')

In [12]:
type(mdays)

pandas.core.indexes.datetimes.DatetimeIndex

In [13]:
type(hdays)

pandas.core.series.Series

In [14]:
mdays = mdays.drop(hdays) #휴장일 제외
mdays

DatetimeIndex(['2019-01-02', '2019-01-03', '2019-01-04', '2019-01-07',
               '2019-01-08', '2019-01-09', '2019-01-10', '2019-01-11',
               '2019-01-14', '2019-01-15',
               ...
               '2019-12-16', '2019-12-17', '2019-12-18', '2019-12-19',
               '2019-12-20', '2019-12-23', '2019-12-24', '2019-12-26',
               '2019-12-27', '2019-12-30'],
              dtype='datetime64[ns]', length=246, freq=None)

In [17]:
data = {'values': range(1,32)}
df_sample = pd.DataFrame(data, index=pd.date_range('2019-05-01', '2019-05-31'))
df_sample.head(10)

            values
2019-05-01       1
2019-05-02       2
2019-05-03       3
2019-05-04       4
2019-05-05       5
2019-05-06       6
2019-05-07       7
2019-05-08       8
2019-05-09       9
2019-05-10      10

# pd.merge()함수
pd.merge(left, right, how=inner, left_index=True, right_index=True)

how = inner(default)...

 left, right, inner(교집합), outer(합집합)


left_index, right_index : keys

In [19]:
df_mdays = pd.DataFrame(index=mdays)
df_mdays

Empty DataFrame
Columns: []
Index: [2019-01-02 00:00:00, 2019-01-03 00:00:00, 2019-01-04 00:00:00, 2019-01-07 00:00:00, 2019-01-08 00:00:00, 2019-01-09 00:00:00, 2019-01-10 00:00:00, 2019-01-11 00:00:00, 2019-01-14 00:00:00, 2019-01-15 00:00:00, 2019-01-16 00:00:00, 2019-01-17 00:00:00, 2019-01-18 00:00:00, 2019-01-21 00:00:00, 2019-01-22 00:00:00, 2019-01-23 00:00:00, 2019-01-24 00:00:00, 2019-01-25 00:00:00, 2019-01-28 00:00:00, 2019-01-29 00:00:00, 2019-01-30 00:00:00, 2019-01-31 00:00:00, 2019-02-01 00:00:00, 2019-02-07 00:00:00, 2019-02-08 00:00:00, 2019-02-11 00:00:00, 2019-02-12 00:00:00, 2019-02-13 00:00:00, 2019-02-14 00:00:00, 2019-02-15 00:00:00, 2019-02-18 00:00:00, 2019-02-19 00:00:00, 2019-02-20 00:00:00, 2019-02-21 00:00:00, 2019-02-22 00:00:00, 2019-02-25 00:00:00, 2019-02-26 00:00:00, 2019-02-27 00:00:00, 2019-02-28 00:00:00, 2019-03-04 00:00:00, 2019-03-05 00:00:00, 2019-03-06 00:00:00, 2019-03-07 00:00:00, 2019-03-08 00:00:00, 2019-03-11 00:00:00, 2019-03-12 00:00:00, 2019-03-13 00:00:00, 2019-03-14 00:00:00, 2019-03-15 00:00:00, 2019-03-18 00:00:00, 2019-03-19 00:00:00, 2019-03-20 00:00:00, 2019-03-21 00:00:00, 2019-03-22 00:00:00, 2019-03-25 00:00:00, 2019-03-26 00:00:00, 2019-03-27 00:00:00, 2019-03-28 00:00:00, 2019-03-29 00:00:00, 2019-04-01 00:00:00, 2019-04-02 00:00:00, 2019-04-03 00:00:00, 2019-04-04 00:00:00, 2019-04-05 00:00:00, 2019-04-08 00:00:00, 2019-04-09 00:00:00, 2019-04-10 00:00:00, 2019-04-11 00:00:00, 2019-04-12 00:00:00, 2019-04-15 00:00:00, 2019-04-16 00:00:00, 2019-04-17 00:00:00, 2019-04-18 00:00:00, 2019-04-19 00:00:00, 2019-04-22 00:00:00, 2019-04-23 00:00:00, 2019-04-24 00:00:00, 2019-04-25 00:00:00, 2019-04-26 00:00:00, 2019-04-29 00:00:00, 2019-04-30 00:00:00, 2019-05-02 00:00:00, 2019-05-03 00:00:00, 2019-05-07 00:00:00, 2019-05-08 00:00:00, 2019-05-09 00:00:00, 2019-05-10 00:00:00, 2019-05-13 00:00:00, 2019-05-14 00:00:00, 2019-05-15 00:00:00, 2019-05-16 00:00:00, 2019-05-17 00:00:00, 2019-05-20 00:00:00, 2019-05-21 00:00:00, 2019-05-22 00:00:00, 2019-05-23 00:00:00, 2019-05-24 00:00:00, 2019-05-27 00:00:00, 2019-05-28 00:00:00, 2019-05-29 00:00:00, ...]

[246 rows x 0 columns]

In [20]:
df = pd.merge(df_sample, df_mdays, right_index=True, left_index=True)
df.head(10)

            values
2019-05-02       2
2019-05-03       3
2019-05-07       7
2019-05-08       8
2019-05-09       9
2019-05-10      10
2019-05-13      13
2019-05-14      14
2019-05-15      15
2019-05-16      16

In [22]:
pd.read_excel('https://goo.gl/cvnhy2')

            구분          일자 요일   시장             비고
0           휴장  2017/01/02  월  CME  New Year' Day
1           휴장  2017/04/14  금  CME    Good Friday
2  단축종료(03:15)  2017/11/24  금  CME      추수감사절 다음날
3           휴장  2017/12/25  월  CME  Christmas Day

In [23]:
pd.read_excel('https://goo.gl/s2PgBx')

   구분          일자 요일     시장             비고
0  휴장  2017/04/14  금  EUREX    Good Friday
1  휴장  2017/04/17  월  EUREX  Easter Monday
2  휴장  2017/05/01  월  EUREX     Labour Day
3  휴장  2017/12/25  월  EUREX  Christmas Day
4  휴장  2017/12/26  화  EUREX     Boxing Day